/* Style untuk section upcoming event */
.upcoming-events h2 {
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
  }
  
   .upcoming-events {
      background-color: #0a7390;
      padding: 40px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
    .event {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  
    .event-image img {
      width: 100%;
      border-radius: 8px;
    }
    .masthead {
      min-height: 30rem;
      position: relative;
      display: table;
      width: 100%;
      height: auto;
      padding-top: 10rem;
      padding-bottom: 10rem;
      background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.1) 100%
        ),
        url("../assets/img/iramaafdol-01.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .masthead h1,
  .masthead .h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: #ff0000; /* Ganti dengan kode warna yang Anda inginkan */
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1,
    .masthead .h1 {
      font-size: 5.5rem;
      color: #ffff; /* Ganti dengan kode warna yang Anda inginkan */
    }
  }
  
  .vector-container-dua {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .vector-image {
    max-width: 40%;
    padding-top: 50px;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .vector-container-dua:hover .vector-image {
    transform: scale(1.1);
  }
  
  .container {
    margin-bottom: 40px; /* Jarak antara container dengan warna biru */
  }
  
  .narrative-container {
    padding: 20px;
    padding-bottom: 40px;
    text-align: justify;
    background-color: #f9f9f9;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  
  .narrative-container p {
    margin-bottom: 20px;
  }
  
  .container h1 {
    font-family: "georgia", sans-serif; /* Ganti "Arial" dengan font yang diinginkan */
  }
  
  .container h2 {
    font-family: "georgia", sans-serif; /* Ganti "Arial" dengan font yang diinginkan */
  }
  
  /* Card Aktivis */
  .card {
    border: none;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
  }

  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(32, 216, 237, 0.546), rgba(255, 255, 255, 0.6));
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
  }

  .card:hover::before {
    opacity: 1;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card-body {
    padding: 1rem;
    background-color: #009ec5;
    position: relative;
    z-index: 2;
  }

  .card-text {
    margin-bottom: 0;
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #080808;
  }
